<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Check if user is not logged in (no 'logged_in' cookie with value 'true')
RewriteCond %{HTTP_COOKIE} !^.logged_in=true.$ [NC]

# Allow access to the home page
RewriteCond %{REQUEST_URI} !^/$

# Block access to all other pages if not logged in
RewriteRule ^ - [F]

# Default WordPress rules
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>